/* Body and general elements */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-color: #011ac7;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Section styling */
section {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Episode, guest, and analytics layout */
#episodes, #guest-list, #analytics-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    color: #00237a;
    border-bottom: 2px solid #00237a;
    padding-bottom: 10px;
}

canvas {
    margin-top: 20px;
}

/* Guest List Styling */
#guest-list li {
    background-color: #011ac7;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    list-style-type: none;
}

/* Episode tiles styling */
.episode-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  /* Responsive grid */
    gap: 20px;
}

.episode-tile {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.episode-tile img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.episode-tile h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #011ac7;
}

.episode-tile a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #011ac7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.episode-tile a:hover {
    background-color: #00237a;
}
